:root{
    --principal: #01274D;
    --branco: white;
}

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

header{
    background-color: #01274D;
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    text-align: center;
    color: white;
    padding: 15px;
}

body {  
    background-image: url(../img/16311859_rm373batch13-082.jpg);
    background-size: cover;
} 

#calc {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.botao{
    display: flex;
    justify-content: center;
    padding: 8px;
    justify-content: space-around;
}

.botao button{
    background-color: #01274D;
    color: white;
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px;
    font-family: 'Quicksand', sans-serif;
}
#calc-form{
    background-color: var(--branco);
    padding: 50px ;
    border: 3px solid black;
    border-radius: 10px;
}    

#pai{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#left{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#left{
    display: grid;
    grid-template-rows: 1fr 1fr;
}