:root{
    --principal: #01274D;
    --branco: white;
    --preto: black;
}

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-shadow: none;
    transition: 0.5s;
    font-family: 'Quicksand', sans-serif;
}

header{
    background-color: #01274D;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    text-align: center;
    color: white;
    padding: 15px;
}


main {
  width: 100%;
  height: calc(100vh - 80px);
  background-image: url(../img/16311859_rm373batch13-082.jpg);
    background-size: cover;
}

#calc {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 80px);
}

.botao{
    height: 60px;
    display: flex;
    padding: 8px;
    justify-content: space-around;
}

.mudar{
    /* height: 55px; */
    background-color: #01274D;
    color: white;
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
}

.selected{
  /* height: 55px; */
  background-color: var(--branco);
  color: var(--principal);
  border: 3px solid var(--preto);
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
}

.selected:hover {
  margin-top: 10px;
}

.mudar:hover {
  margin-top: 10px;
}

#calc-form{
    display: flex;
    justify-content: center;
    height: 300px;
    width: 600px;
    background-color: var(--branco);
    padding: 50px ;
    border: 3px solid black;
    border-radius: 10px;
}    

#pai{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.lado {
  display: grid;
  grid-template-rows: 1fr 1fr ;
  gap: 60px;
}

.op {
  display: flex;
  gap: 12px;
}

#buttons {
  padding-top: 10px;
  width: calc(100% - 15px);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.btn-fim {
  color: var(--branco);
  background-color: var(--principal);
  font-size: 20px;
  padding: 13px 70px;
  border-radius: 10px;
}

.btn-fim:hover {
  background-color: var(--branco);
  color: var(--principal);
}

.ops {
  background-color: var(--principal);
  color: var(--branco);
  font-size: 13px;
  border-radius: 7px;
  padding: 7px;
  padding-left: 10px;
  
}

#mostrar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 90px;
  
}

.most {
  border: 1px var(--principal) solid;
  border-radius: 10px;
  width: 250px;
  height: 80px;
}

.txt-most {
  padding-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.txt-most p {
  font-size: 17px;
}

.preencher {
  height: 35px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.preencher p {
  font-size: 25px;
  font-weight: bold;
  margin-left: 20px;
}

/* inputs config-------------------------------------------------------- */
.container {
    position: relative;
    width: 220px;
  }
  
  .container input {
    width: 100%;
    background: transparent;
    outline: none;
    border: none;
    color: #222;
    font-size: 20px;
    padding: 8px;
  }
  
  .container label {
    position: absolute;
    left: 0;
    top: 0;
    color: rgba(105, 105, 105, 0.7);
    text-transform: uppercase;
    pointer-events: none;
    transition: .5s;
    font-weight: bold;
    font-size: 10;
  }
  
  .container input:valid ~ label,
  .container input:focus ~ label {
    color: rgb(10, 131, 212);
    transform: translateY(-25px);
    font-size: .6rem;
  }
  
  .container i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: var(--principal);
  }
  
  .container i:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--principal);
    animation: animate 3s linear infinite;
  }